.card {
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.btn {
    padding: 1em;
    margin: 0.3em;
}

.error {
    background-color: rgb(222, 54, 54);
    padding: 1em;
}

.fileupload {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(15, 187, 36, 0.5);
}

.upload {
    display: none;
}

.select {
    margin: 1rem;
    padding: 0.5rem 2rem;
}
