.card{
    display: flex;
    flex-direction: column;
    width: 80vw;
}

.btn{
    padding: 1em;
    margin: 0.3em;
}

.error{
    background-color: rgb(222, 54, 54);
    padding: 1em;
}

.fileupload{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(65, 72, 36, 0.3);
}

.upload{
    display: none;
}